.login__button{
  margin: auto;
  width: 100%;
  max-width: 358px;
  background-color: white;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;

  height: 100%;
  max-height: 50px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  
}

.login__button-container{
  margin: auto;
  width: 100%;
  max-width: 358px;
  margin-top: 186px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;

  height: 100%;
  max-height: 50px;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.login__input{
  margin: 0 auto;
  font-family: 'Inter', ‘Arial’, sans-serif;
  width: 100%;
  max-width: 358px;
  background-color: black;
  color: white;
  border:none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
  
}

.login__link {
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 16px;
  margin-left: 5px;
}

.login__signup{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.login__welcome {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width:100%;
  max-width: 358px;
  margin: auto;
  text-align: center;
}

.login{
  height: 100%;
  background-color: black;
}